[user]
	name = krleitch
	email = krleitch.ca@gmail.com
    username = krleitch

[core]
	editor = nvim
    excludesfile = ~/.gitignore

[diff]
  tool = vimdiff

[merge]
  tool = vimdiff

[alias]
    graph = !git log --graph --pretty=format:'%C(161)%h%Creset -%C(yellow)%d%Creset %s %C(155)(%cr) %C(bold 152)<%an>%Creset' --abbrev-commit --date=relative

[color]
	ui = auto

[color "branch"]
	current = 208 bold
	local = 155 bold
	remote = 152 bold

[color "diff"]
	meta = 208 bold
	frag = 174 bold
	old = 161 bold
	new = 155 bold
	whitespace = 161 reverse

[color "status"]
	added = 155 bold
	changed = 208 bold
	untracked = 174 bold

